transformers 
datasets 
accelerate 
torch 
sentencepiece
gTTS
pydub
ffmpeg
ffmpeg-python
SpeechRecognition 
sounddevice 
scipy
soundfile
aiortc 
aiohttp
numpy
websockets
peft
sounddevice 
git+https://github.com/openai/whisper.git

